.App {
  text-align: center;
}

.loader {
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  transition: 1s opacity ease;
}

.loader.is-loading {
  opacity: 1;
  pointer-events: all;
}

.errorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  color: white;
}

.entriesAndAssetsTabs {
  margin: 40px;
  border: 2px solid black;
  padding: 20px;
}

.dpfhGh {
  position: absolute;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.entriesAndAssetsTabs .dpfhGh {
  position: relative;
  flex-direction: column;
  align-items: center;
}

.entriesAndAssetsTabs .eQMpHY {
  margin-bottom: 20px;
}

.entriesAndAssetsTabs .hSTZtm {
  width: 80%;
}

.sc-bZQynM {
  display: block;
  height: 100%;
  overflow-y: scroll;
}

.entriesAndAssetsTabs .sc-bZQynM {
  display: flex;
}

.hSTZtm {
  display: block;
}

.sc-htoDjs {
  padding: 0 10px 10px;
  margin: 0;
}

.sc-htoDjs {
  margin: 10px 0 0;
}

.entriesAndAssetsTabs .sc-htoDjs {
  margin: 0;
}

.sc-gzVnrw {
  left: 0;
  right: 0;
}

.entriesAndAssetsTabs .sc-gzVnrw {
  left: 8px;
  right: 8px;
}